<!DOCTYPE html>
<html lang="en">

<head>
	
		<meta charset="UTF-8">
		
		<!-- Materialize CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

		<!-- CSS -->
		<link rel="stylesheet" href="/assets/css/chore_style.css" type="text/css" />

</head>

<body>
	{{!-- <img src="" width="400px" id="cute_burger"> --}}
	 <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel yellow lighten z-depth-1">
          <div class="row valign-wrapper">
            <div class="col md 2">
              <img src="images/min1.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
              <span class="black-text">  
<h4>Chores, Chores, Chores, I love Chores!</h4>
<h4>a kept em in-line family chore application</h4></span>
            </div>
          </div>
        </div>
      </div>

	{{{ body }}}

	<footer class="choreFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text">© 2019</span>
				<a class="grey-text right" href="https://github.com/UnicornBear/projectTwo">GitHub Repository</a>
			</div>
		</div>
	</footer>
</body>

</html>