<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Do DA CHORES</title>

	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.4.1.js"
		integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<!-- CSS -->
	<link rel="stylesheet" href="/assets/css/chore_style.css" type="text/css" />
  <link rel="stylesheet" href="/assets/images/min2.png" type="background-image">

</head>

<body>
	{{!-- <img src="" width="400px" id="cute_burger"> --}}
	<div class="col s12 m8 offset-m2 l6 offset-l3">
		<div class="card-panel yellow lighten z-depth-1">
			<div class="row">
				<div class="col m12">
					<span class="black-text">
						<h4 class="center-align">Chores, Chores, Chores, I love Chores!</h4>
						<h5></h5>
					</span>
				</div>
			</div>
			<div class="row">
					<div class="col m5">
						<img src="images/min1.jpg" alt="minion-maid" class="circle left-center responsive-img">
						<!-- notice the "circle" class -->
					</div>
	
					<div class="col m3">
						<div class="container">
							<a class="waves-effect waves-light btn modal-trigger" href="#modal2">Create a Chore!</a>
							<img src="images/minionsign2.png" alt="minionsign" class="responsive-img">
						
						</div>




						
						

			<!-- Modal Structure -->
						<div id="modal1" class="modal">
						<div class="modal-content">
							<h1 class="card-title">CREATE A CHORE!</h1>
							<form action="/chores" method="POST">
								<input type="text" id="name" name="chore_name" placeholder="Chore Name">

								<input type="text" id="instructions" name="instructions" placeholder="Instructions">

								<input type="text" id="points" name="points" placeholder="Points">

								<button type="submit" class="addChoreButton btn waves-effect waves-light">Submit your
									Chore!</button>

							</form>
							<div class="modal-footer">
								<a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
							</div>
						</div>
						</div>
					</div>
					<div class="col m3">

							<a class="waves-effect waves-light btn modal-trigger" href="#modal2">Create a Minion!</a>

							<!-- Modal Structure -->
							<div id="modal2" class="modal">
								<div class="modal-content">
									<h1 class="card-title">CREATE A MINION!</h1>
									<form action="/user" method="POST">
										<input type="text" id="userName" name="user_name" placeholder="User Name">

										<input type="text" id="userDescription" name="user_description" placeholder="User Description">

										<!--<input type="text" id="points" name="points" placeholder="Points">  ADD A USER IMAGE HERE?? -->

										<button type="submit" class="addChoreButton btn waves-effect waves-light">Submit your
											Minion!</button>

									</form>
								</div>
								<div class="modal-footer">
									<a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
								</div>
							</div>
					</div>
			</div>
	</div>
</div>
	<hr>
	{{{ body }}}

	<footer class="choreFooter">
		<div class="footer-copyright">
			<div class="container">
				<p class="grey-text center-align"><a href="https://github.com/UnicornBear/projectTwo">GitHub Repository</a></p>
				<p class="grey-text center-align">© 2019 - A "Kept 'em In Line" Family Chore Application</p>
			</div>
		</div>
	</footer>


	<script>
		$(document).ready(function () {
			$('.modal').modal();
		});
	</script>
</body>

</html>