<!DOCTYPE html>
<html lang="en">

<head>
	
		<meta charset="UTF-8">
		
		<!-- Materialize CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

		<!-- CSS -->
		<link rel="stylesheet" href="/assets/css/chore_style.css" type="text/css" />

</head>

<body>
	<img src="" width="400px" id="cute_burger">

	{{{ body }}}

	<footer class="choreFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text">© 2019</span>
				<a class="grey-text right" href="https://github.com/UnicornBear/projectTwo">GitHub Repository</a>
			</div>
		</div>
	</footer>
</body>

</html>