<!DOCTYPE html>
<html lang="en">

<head>
	

		<meta charset="UTF-8">
		
		<!-- Materialize CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
		<!-- CSS -->
		<link rel="stylesheet" href="/assets/css/chore_style.css" type="text/css">
		<link rel="stylesheet" href="/assets/images/min2.png" type="background-image">

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Do DA CHORES</title>

	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>	
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<!-- CSS -->
	<link rel="stylesheet" href="/assets/css/chore_style.css" type="text/css" />

</head>

<body>
	{{!-- <img src="" width="400px" id="cute_burger"> --}}
	<div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card-panel yellow lighten z-depth-1">
          	<div class="row">
				<div class="col m12">
				<span class="black-text">  
					<h4 class="center-align">Chores, Chores, Chores, I love Chores!</h4>
					<h4 class="center-align">a kept em in-line family chore application</h4><br>
					<h5></h5>
				</span>
				<div class="col m6">
				<img src="images/min1.jpg" alt="minion-maid" class="circle left responsive-img"> <!-- notice the "circle" class -->
				</div>
					<h6><b>Step 1: Add a chore, instructions and points for completing the task.</b></h6><br>
					<h6><b>Step 2: Parents can assign the kids a task or kids can select a chore they want to complete by adding their name then click complete to track points.</b></h6><br>
				</div>
          </div>
        </div>
    </div>
<hr>
	{{{ body }}}

	<footer class="choreFooter">
		<div class="footer-copyright">
			<div class="container">
				<span class="grey-text">© 2019</span>
				<a class="grey-text right" href="https://github.com/UnicornBear/projectTwo">GitHub Repository</a>
			</div>
		</div>
	</footer>
</body>

</html>