<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Do DA CHORES</title>

	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.4.1.js"
		integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
	<!-- Compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica|Barriecito|Luckiest+Guy"> 
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<!-- Compiled and minified JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<!-- CSS -->
	<link rel="stylesheet" href="/assets/css/chore_style.css" type="text/css" />
    <link rel="stylesheet" href="/assets/images/min2.png" type="background-image">

</head>

<body>
	<div class="col s12 m8 offset-m2 l6 offset-l3">
		<div class="card-panel yellow lighten z-depth-1">
			<div class="row">
				<div class="col m12">
					<span>
						<h4 class="title2 center-align">Chores, Chores, Chores, I love Chores!</h4>
					</span>
					<div class="col m12 center-align">
						<img src="images/min1.jpg" alt="minion-maid" class="circle responsive-img">
						<!-- notice the "circle" class -->
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col m12 center-align">
					<a class="fancy-button blue title4 waves-effect waves-light btn-large modal-trigger" href="#modal1">Create a Chore!</a>
					<!-- Modal Structure -->
						<div id="modal1" class="modal">
							<div class="modal-content">
								<h1 class="card-title">CREATE A CHORE!</h1>
								<form action="/chores" method="POST">
									<input type="text" id="name" name="chore_name" placeholder="Chore Name">

									<input type="text" id="instructions" name="instructions" placeholder="Instructions">

									<input type="text" id="points" name="points" placeholder="Points">

									<button type="submit" class="addChoreButton btn waves-effect waves-light">Submit your
										Chore!</button>

								</form>
								<div class="modal-footer">
									<a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
								</div>
							</div>
						</div>
				</div>
			</div>
		</div>

	<hr>

	{{{ body }}}

	<footer class="choreFooter">
		<div class="footer-copyright">
			<div class="container">
				<p class="grey-text center-align"><a href="https://github.com/UnicornBear/projectTwo">GitHub Repository</a></p>
				<p class="grey-text center-align">Copyright © 2019 Disney Minions, Copyright © 2019- A "Kept 'em In Line" Family Chore Application</p>
			</div>
		</div>
	</footer>


	<script>
		$(document).ready(function () {
			$('.modal').modal();
		});
	</script>

	<script src="/assets/js/fancy-buttons.min.js"></script>



</body>

</html>