<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Chore</h5>
          <p>
            <strong>ID</strong>: {{chore.id}}</p>
          <p>
          <p>
            <strong>Title:</strong>: {{chore.title}}</p>
          <p>
            <strong>Description:</strong> {{chore.description}}</p>
          <p>
            <strong>Points:</strong> {{chore.points}}</p>
            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
