<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h1 class="card-title">CHORE  </h1>
      {{!-- {{#each popup}}
      {{#if this.id}} --}}
          <p>
            <strong>ID</strong>: {{popup.id}}</p>
          <p>
            <strong>Name</strong>: {{popup.chore_name}}</p>
          <p>
            <strong>Instructions</strong>: {{popup.instructions}}</p>
          <p>
            <strong>Points</strong> {{popup.points}}</p>
        {{!-- {{/if}}
        {{/each}} --}}

            <a href="/">← Back To Home</a>

        </div>
      </div>
    </div>
  </div>
</div>
  
