 
<main>

<div class="container">
  <div class="row">
      <div class="card mt-4 center-align">
        <div class="card-body">
          <h1 class="card-title">Chore Description  </h1>
          <p>
            <strong>Chore ID</strong>: {{popup.id}}</p>
          <p>
            <strong>Chore Name</strong>: {{popup.chore_name}}</p>
          <p>
            <strong>Chore Instructions</strong>: {{popup.instructions}}</p>
          <p>
            <strong>Chore Points</strong>: {{popup.points}}</p>

            <a href="/">← Back To Home</a>
        </div>
      </div>
    </div>
  </div>
</div>
  
</main>