<div class="container">
  <div class="row">
    <div class="col-8 offset-2">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">CHORE  </h5>
      {{#each popup}}
      {{#if this.id}}
          <p>
            <strong>ID</strong>: {{this.id}}</p>
          <p>
            <strong>Name</strong>: {{this.chore_name}}</p>
          <p>
            <strong>Instructions</strong>: {{this.instructions}}</p>
          <p>
            <strong>Points</strong> {{this.points}}</p>
        {{/if}}
        {{/each}}

            <a href="/">← Back To Home</a>

        </div>
      </div>
    </div>
  </div>
</div>
  