html {
    background-color: black;
}

body {
    width: 75%;
    margin: 0 auto; 
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
}

h1 {
    text-align: center;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 65px;
    margin: 50px;
}

.choreAvailable {
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 25px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: lightslategray;
    border: none;
}

.choreAvailable:hover {
    background-color: greenyellow;
}

.burgerEaten {
    font-family: 'Crafty Girls', cursive;
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    background-color: lightslategray;
}

h2 {
    text-align: center;
    font-family: 'Fontdiner Swanky', cursive;
    font-size: 40px;
    margin: 50px;
}

.formContainer {
    background-color: lightslategray;
}

.addChoreButton {
    font-family: 'Crafty Girls', cursive;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    width: 100%;
    margin: 0;
    padding: 10px;
    background-color: #lightslategray;
    border: none;
}

.addChoreButton:active {
   background-color: #lightslategray;
}

.ChoreFooter {
   background-color: #lightslategray;
   padding: 20px 0;
}

.card-panel grey lighten-5 z-depth-1 {
    background-color: #ffff00 yellow accent-2;
    padding: 20px 0;
}