html {
    background-image:  black;

}

body {
    width: 75%;
    margin: 0 auto; 
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-color: white;
}

a {
    font-size: 30px;
}

h1 {
    text-align: center;
    font-size: 65px;
    margin: 50px;
}

.choreAvailable {
    font-weight: normal;
    font-size: 20px;
    text-align: center;

    border-radius: 25px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: lightslategray;
    border: none;
}

.choreAvailable:hover {
    background-color: greenyellow;
}

.chore-completed {
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: lightslategray;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin: 50px;
}

.formContainer {
    background-color: lightslategray;
}

.addChoreButton {
    /* font-weight: normal; */
    font-size: 20px;
    text-align: center;
    border-radius: 25px;
    width: 100%;
    margin: 0;
    /* padding: 10px; */
    background-color: black;
    color: yellow;
}

/* .addChoreButton:active {
   background-color: lightgrey;
   color: black;
} */

.completeChoreButton {
    font-size: 15px;
    border-radius: 25px;
    /* width: 150px; */
    background-color: black;
    color: yellow;
}

.ChoreFooter {
   background-color: #lightslategray;
   padding: 20px 0;
}


/* .card-panel  {
    background-color: #ffff00 yellow accent-2;
    padding: 20px 0;
} */

/* logic below helps limit card count per row, and repeat rows within the class */
.row {
    display: flex;
    flex-wrap: wrap;
    }
    
.row > div[class*='col-'] {
    display: flex;
}

h4{
    font-family: "Aclonica", serif;
    text-shadow: 4px 4px 4px #aaa;
}

.title{
    font-family: "Barriecito", cursive;
    text-shadow: 4px 4px 4px #aaa;
    font-size: 50px;
}

.title2{
    font-family: 'Luckiest Guy', cursive;
    text-shadow: 4px 4px 4px #aaa;
    font-size: 50px;
}

.title3{
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
}

.title4{
    font-family: 'Luckiest Guy', cursive;
    font-size: 35px;
}

.topright {
    position: absolute;
    top: 8px;
    right: 16px;
    font-size: 18px;

}

.blue {
    background-color: #0d47a1;
    color: white;
  }


 